/* Розміщення елементів */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto; /* або margin-left margin-right - auto */
  // outline: 1px solid tomato;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }
  @media screen and (min-width: $tablet) {
    width: 768px;
  }
  @media screen and (min-width: $desctop) {
    width: 1200px;
  }
}
