/* ====================== TEAM SECTION =========================*/
.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--section-color);

  @media screen and (min-width: $desctop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__list {
  display: block;

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
.team__item {
  width: 450px;

  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: $tablet) {
    width: 354px;
  }
  @media screen and (min-width: $desctop) {
    width: 270px;
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @media screen and (min-width: $tablet) {
      margin-bottom: 0px;
    }

    @media screen and (min-width: $desctop) {
      margin-bottom: 0px;
    }
  }
}
// .team-item img {
//   @media screen and (max-width: 767px) {
//     width: 354;
//     height: 374;
//   }
//   @media screen and (min-width: $tablet) {
//     width: 354;
//     height: 374;
//   }
//   @media screen and (min-width: $tablet) {
//     width: 270;
//     height: 260;
//   }
// }

// img mobile 450*460
// img table 354*374
// img desc 270*260

.team__title {
  @include fonts(700, 28px, 33px, 0.03em);
  margin-bottom: 30px;

  @media screen and (min-width: $desctop) {
    @include fonts(700, 36px, 42px, 0.03em);
    margin-bottom: 50px;
  }

  text-align: center;
  color: var(--main-font-color);
}

.member {
  padding: 30px 0px 24px;

  @media screen and (min-width: $desctop) {
    padding: 30px 0;
  }
}
.team__member {
  margin-top: 0;
  margin: 0;
  margin-bottom: 10px;
  @include fonts(500, 16px, 19px, 0.03em);

  text-align: center;
  color: var(--main-font-color);
}
.team__position {
  margin: 0;
  margin-bottom: 16px;
  @include fonts(false, 16px, 19px, 0.03em);

  text-align: center;
  color: var(--secondary-font-color);
}
