/* ======================== PORTFOLIO ========================= */
/* ======================== OUR WORKS ========================= */
.our-works {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desctop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.works {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}
.works-choise {
  display: flex;
  margin-bottom: 40px;
  justify-content: flex-start;

  @media screen and (min-width: $mobile) {
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 15px;
  }
  @media screen and (min-width: $tablet) {
    justify-content: center;
    margin-bottom: 30px; /* padding-top: 94px; */
  }

  @media screen and (min-width: $desctop) {
    margin-bottom: 50px; /* padding-top: 94px; */
  }
}
.works-card {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap; /* картки переносимо в наступні строки */
    gap: 30px;
  }

  @media screen and (min-width: $desctop) {
    /* max-width: calc((100% - 30px * 2) / 3); ширина flex-елемента - картка - 370px */
    flex-basis: calc((100% - 30px * 2) / 3);
    margin-bottom: 0px;
  }
}
.works-list {
  margin-top: 0;
  width: 450px;

  &:not(:last-child) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: $tablet) {
    width: 354px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 0px;
      // flex-basis: calc((100% - 30px * 2) / 2);
    }
  }
  @media screen and (min-width: $desctop) {
    width: 370px;
    /* max-width: calc((100% - 30px * 2) / 3); ширина flex-елемента - картка - 370px */
    // flex-basis: calc((100% - 30px * 2) / 3);

    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}

.works-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.works-title {
  margin-top: 0;
  margin-bottom: 4px;
  @include fonts(700, 18px, 36px, 0.06em);

  color: var(--main-font-color);
}
.works-item {
  margin-top: 0;
  @include fonts(false, 16px, 30px, 0.03em);

  color: var(--secondary-font-color);
}
/* _______________випливаюче вікно картки__________________ */

.description {
  position: relative;
  overflow: hidden;
}
.works-description {
  transform: translateY(100%);

  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
  @include fonts(false, 18px, 28px, 0.03em);

  background-color: var(--accent-color-cards);
  color: var(--main-background-color);

  padding: 77px 24px;

  @media screen and (min-width: $tablet) {
    padding: 49px 24px 77px;
  }

  @media screen and (min-width: $desctop) {
    padding: 63px 24px;
  }
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link:hover .works-description {
  transform: translateY(0);
}
/* _________________випливаюче вікно картки end______________________ */
