/* ====================== GENERAL STYLES =======================*/
:root {
  --main-background-color: #ffffff;
  --additional-font-color: #ffffff;
  --accent-color: #2196f3;
  --accent-color-cards: rgba(33, 150, 243, 0.9);
  --btn-bg-color: #188ce8;
  --footer-font: #2f303a; /* колір першої секції постера і футера  */
  --services-font-cl: rgba(47, 48, 58, 0.8);
  --main-font-color: #212121; /* основний колір тексту */
  --secondary-font-color: #757575;
  --form-font-color: rgba(255, 255, 255, 0.6); /* колір е-майл в футері */
  --border-form-color: rgba(255, 255, 255, 0.3);
  --section-color: #f5f4fa; /*  цвет секції наша команда */
  --icon-color: #afb1b8; /* колір іконок в неактивному стані */
  --border-color: rgba(33, 33, 33, 0.2); /* колір бордерів форми на модальному вікні */
  --comment-font-color: rgba(117, 117, 117, 0.5);
  /* колір плейсхолдера в коментрях в модальному вікні */
  --logo-font: 'Raleway', sans-serif;
  --main-font: 'Roboto', sans-serif;
}
